{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}
{% import "_macros.html" as macros %}

{% block container %}
{{super()}}

<div class="row justify-content-md-center">
    <div class="col-md-7">
        <h2>{{ title }} {{user.username}}</h2>
        {{ macros.followers(user=user, follows=follows, format_relative_time=format_relative_time) }}
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-auto">
            {{ macros.pagination_widget(pagination, endpoint, username=user.username) }}
    </div>
</div>
{% endblock %}